<h1>修正詳細</h1>

<p><%= @attendance.customer.name %>さんの修正申請</p>

<p>修正前</p>
<p>出勤時刻<%= @attendance.start.strftime('%Y %-m/%d %H:%M') %></p>

<% unless @attendance.end.nil? %>
 <p>退勤時刻<%= @attendance.end.strftime('%y %-m/%d %H:%M') %></p>
<% end %>


<p>修正申請内容</p>
<%= form_with model: @attendance, url: admin_attendance_path(@attendance), method: :patch do |f| %>
 <p>出勤時刻 <%= @attendance.re_start.strftime('%Y %-m/%d %H:%M') %></p>
 <p>退勤時刻 <%= @attendance.re_end.strftime('%Y %-m/%d %H:%M') %></p>
 <p>申請理由 <%= @attendance.cause %></p>

 <%= f.submit "承認", name: 'approved' %>
 <%= f.submit "否認", name: 'negative' %>

<% end %>