<div class="container">
 <div class="text-center p-3">
  <h1>修正申告一覧</h1>

  <% unless @attendances.exists?(is_active: "1") %>
    <p class="text-center p-5">現在、修正申告はありません。</p>
   <% end %>


  <% @attendances.each do |attendance| %>
   <table class="table">
    <tr>
     <th>名前</th>
     <th>申請日</th>
     <th>出勤時刻</th>
     <th>退勤打刻</th>
     <th></th>
    </tr>
    <tr>
     <td><%= attendance.customer.name %></td>
     <td><%= attendance.updated_at.strftime('%Y %-m/%d') %></td>
     <td><%= attendance.re_start.strftime('%H:%M') %></td>
     <td><%= attendance.re_end.strftime('%H:%M') %></td>
     <td><%= link_to "詳細", edit_admin_attendance_path(attendance), class: "button-show" %></td>
    </tr>
   </table>
  <% end %>
 </div>
</div>