<p><%= @customer.name %>さん</p>

<% @attendance.each do |attendance| %>

  <p>出勤打刻</p>
  <%= attendance.start.strftime('%Y %-m/%d %H:%M') %>



  <p>退勤打刻</p>
  <% unless attendance.end.nil? %>
  <%= attendance.end.strftime('%Y %-m/%d %H:%M') %>
  <% end %>

  <p>勤務地</p>
  <%= attendance.location %>

<% end %>

<%= link_to "csvで出力する", admin_attendance_path(format: :csv) %>