<div class="container">
  <div class="text-center p-3">
  <p><%= @customer.name %>さん</p>
  <%= link_to "前月", admin_attendance_path(month:@month.prev_month) %>
  <%= link_to "次月", admin_attendance_path(month:@month.next_month) %>
    <table class="table-index">
      <tr>
        <th>年月日</th>
        <th>出勤時刻</th>
        <th>退勤打刻</th>
        <th>勤務地</th>
        <th>ステータス</th>
      </tr>
      <% @attendance.each do |attendance| %>
      <tr>
        <td><%= attendance.start.strftime('%Y年 %-m月 %d日') %></td>
        <td><%= attendance.start.strftime('%H:%M') %></td>
        <td>
          <% unless attendance.end.nil? %>
          <%= attendance.end.strftime('%H:%M') %>
          <% end %>
        </td>
        <td><%= attendance.location %></td>
        <td><%= attendance.is_active_i18n %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "csvエクスポート", admin_attendance_path(format: :csv), class: "button-show" %>
  </div>
</div>
