<div class="container">
  <div class="text-center p-3">
    <h4>ユーザー編集</h4>

    <p><strong><%= @customer.name %></strong>さんのユーザーデータを編集します</p>

    <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
    <table class="table-show2">
      <tr>
        <th>名前</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :email %></td>
      </tr>
    </table>
    <p><%= f.submit '変更を保存', class: "button-show" %></p>

    <% end %>
  </div>
</div>