<h4>ユーザー一覧</h4>

<%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
<% end %>

<% @customers.each do |customer| %>

<p><%= customer.id %></p>

<p><%= link_to customer.name, admin_customer_path(customer.id) %></p>

<% end %>