<div class="container">
  <div class="text-center p-3">
    <h4>ユーザー新規作成</h4>

    <%= form_with model: @customer, url: admin_customers_path, method: :post do |f| %>
     <P>名前</P>
     <%= f.text_field :name %>
     <P>メールアドレス</P>
     <%= f.text_field :email %>
     <p>パスワード</p>
     <%= f.text_field :password %>
     <p><%= f.submit '作成する' %></p>
    <% end %>
  </div>
</div>