<h4>ユーザー詳細</h4>

<p><%= @customer.name %>さん</p>

<p>ユーザーID　<%= @customer.id %></p>
<p>名前　<%= @customer.name %></p>
<p>メールアドレス　<%= @customer.email %></p>
<p>勤務地</p>

<p><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></p>

<p><%= link_to "勤務地確認・登録", admin_locations_path %></p>