<h4>ユーザー詳細</h4>

<p><%= @customer.name %>さん</p>

<p>ユーザーID　<%= @customer.id %></p>
<p>名前　<%= @customer.name %></p>
<p>メールアドレス　<%= @customer.email %></p>

<p><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></p>

<p><%= link_to "勤怠一覧", admin_attendance_path(@customer.id) %></p>

