<div class="container">
  <div class="text-center p-3">
    <h4 class="text p-3">勤怠一覧</h4>
    <% if flash[:notice] %>
     <div class="alert alert-success" role="alert">
     <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
    <% end %>
    <%= link_to "前月",attendances_path(month:@month.prev_month), class: "button-month-prev" %>
    <%= link_to "次月",attendances_path(month:@month.next_month), class: "button-month-next" %>
    <table class="table">
        <tr>
          <th>日付</th>
          <th>出勤時刻</th>
          <th>退勤時刻</th>
          <th>勤務地</th>
          <th>ステータス</th>
          <th></th>
        </tr>
        <% @attendances.each do |attendance| %>
        <tr>
         <td>
          <%= attendance.created_at.strftime('%Y %-m/%d') %>
         </td>
         <td>
         <%= attendance.start.strftime('%H:%M') %>
         </td>
         <td>
          <% unless attendance.end.nil? %>
          <%= attendance.end.strftime('%H:%M') %>
          <% end %>
         </td>
         <td>
          <%= attendance.location %>
         </td>
         <td>
          <%= attendance.is_active_i18n %>
         </td>
         <td>
          <P><%= link_to "修正", timesedit_path(attendance), class: "button-show" %></P>
         </td>
          <% end %>
        </tr>
      </table>
  </div>
</div>