<div class="container">
 <div class="text-center p-3">
  <h4>勤怠修正申請</h4>
  <table class="table-edit">
  <%= form_with model: @attendance, url: timesupdate_path(@attendance), method: :patch do |f| %>
   <tr>
    <th>出勤時刻</th>
    <td><%= f.datetime_field :re_start %></td>
   </tr>
   <tr>
    <th>退勤時刻</th>
    <td><%= f.datetime_field :re_end %></td>
   </tr>
   <tr>
    <th>勤務地</th>
    <td><%= f.text_field :re_location %></td>
   </tr>
   <tr>
    <th>修正理由</th>
    <td><%= f.text_area :cause %></td>
   </tr>
   <tr>
    <%= f.submit '勤怠修正申請', class: "button" %>
   </tr>
  <% end %>
  </table>
 </div>
</div>