<!DOCTYPE html>
<html>
  <head>
    <title>Kinmiru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin"><%= image_tag 'logo.png', size: "100x100" %></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
               <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <% if admin_signed_in? %>
               <li class="nav-item p-2">
                <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                <%= link_to "管理者TOP", admin_root_path, class: 'text-dark' %>
                </button></a>
               </li>
               <li class="nav-item p-2">
                <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                <%= link_to "ユーザー一覧", admin_customers_path, class: 'text-dark' %>
                </button></a>
               </li>
               <li class="nav-item p-2">
                <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                <%= link_to "修正申告一覧", admin_attendances_path, class: 'text-dark' %>
                </button></a>
               </li>
               <li class="nav-item p-2">
                <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: 'text-dark' %>
                </button></a>
               </li>
              <% else %>
               <li class="nav-item p-2">
                <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                <%= link_to "TOP", root_path, class: 'text-dark' %>
                </button></a>
               </li>
               <li class="nav-item p-2">
                <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                <%= link_to "管理者ログイン", new_admin_session_path, class: 'text-dark' %>
                </button></a>
               </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>

</html>
