<!DOCTYPE html>
<html>
  <head>
    <title>Kinmiru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if admin_signed_in? %>
       <p>管理者ログインできています。</p>
       <p><%= link_to "TOP", admin_root_path %></p>
       <p><%= link_to "ユーザー一覧", admin_customers_path %></p>
       <p><%= link_to "修正申告一覧", admin_attendances_path %></p>
       <p><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></p>

      <% else %>
       <p><%= link_to "TOP", root_path %></p>
       <p><%= link_to "管理者ログイン", new_admin_session_path %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
