<!DOCTYPE html>
<html>
  <head>
    <title>Kinmiru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">kinmiru</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if customer_signed_in? %>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "トップ", root_path, class: 'text-dark' %>
                  </button></a>
                 </li>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "マイページ", customers_my_page_path, class: 'text-dark' %>
                  </button></a>
                 </li>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "勤怠一覧", attendances_path, class: 'text-dark' %>
                  </button></a>
                 </li>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'text-dark' %>
                  </button></a>
                 </li>
                <% else %>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "TOP", root_path, class: 'text-dark' %>
                  </button></a>
                 </li>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "ユーザーログイン",  new_customer_session_path, class: 'text-dark' %>
                  </button></a>
                 </li>
                 <li class="nav-item p-2">
                  <a><button class="btn btn-sm btn-outline-secondary shadow-sm" type="button">
                  <%= link_to "管理者ログイン", new_admin_session_path, class: 'text-dark' %>
                  </button></a>
                 </li>
                <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>

</html>
